@import url(reset.css);

/* main.css */

body{font-family: "돋움",dotum,sans-serif;font-size: 12px;color: #000;}
a{color: #666;text-decoration: none;}

/* 움직이는 캐릭터 */
.character{z-index: 10;position: fixed;left: 50%;bottom: 50px;transform: translateX(-50%);width: 155px;height: 176px;background-image: url(../img/right.png);}

.character.on{animation: walk 0.5s steps(3,start) infinite;}
.character.left{background-image: url(../img/left.png);}
@keyframes walk{
  0%{background-position: 0 0;}
  100%{background-position: -465px 0;}
}

/* container */
#container{position: fixed;width: 1000vw;height: 100vh;background: #00f;font-size: 50px;color: #fff;}
#container >div{float: left;width: 100vw;height: 100vh;
  /*100vw:viewport 넓이 100% , 100vh:viewport 높이 100%*/background-color: rgba(255, 0, 0, 0.4);}

  #container > div > section{position: relative;width: 100%;height: 100%;overflow: hidden;}
  #container > div > section >span{display: block;text-align: left;}

  #container > div{width: 100%;/*height: 740px;*/font-size: 100px;color: #fff;}
  #container > div:nth-of-type(1){background-color: #ff0000;}
  #container > div:nth-of-type(2){background-color: #00ff00;}
  #container > div:nth-of-type(3){background-color: #0000ff;}
  #container > div:nth-of-type(4){background-color: #ff6600;}
  



/* content1 */
/* 최종위치 먼저 지정 | 원래 있던 위치에서 100px씩 내려와라*/
/* 밑에 있다가 위로 올라옴 */
#content1>section>h2{position: absolute;left: 0;top: 50px;
  opacity: 0;transform: translateY(100px);transition: all 1s ease 0.5s;}
  #content1>section>span:nth-of-type(1){position: absolute;left: 0;top: 150px;
    opacity: 0;transform: translateY(100px);transition: all 1.5s ease 0.5s;}
  #content1>section>span:nth-of-type(2){position: absolute;left: 0;top: 250px;
    opacity: 0;transform: translateY(100px);transition: all 2.0s ease 0.5s;}
  #content1>section>span:nth-of-type(3){position: absolute;left: 0;top: 350px;
    opacity: 0;transform: translateY(100px);transition: all 2.5s ease 0.5s;}
  
  #content1>section.on > h2{opacity: 1;transform: translateY(0);}
  #content1>section.on > span:nth-of-type(1){opacity: 1;transform: translateY(0);}
  #content1>section.on > span:nth-of-type(2){opacity: 1;transform: translateY(0);}
  #content1>section.on > span:nth-of-type(3){opacity: 1;transform: translateY(0);}
  
  /* content2 */
  /* 왼쪽에서 날아오게 */
  #content2>section>h2{position: absolute;left:0;top: 0px;
  opacity: 0;transform: translateX(-200px);transition: all 1s ease 0.5s;}
  #content2>section>span:nth-of-type(1){position: absolute;left: 100px;top: 100px;
  opacity: 0;transform: translateX(-200px);transition: all 1s ease 1s;}
  #content2>section>span:nth-of-type(2){position: absolute;left: 200px;top: 200px;
  opacity: 0;transform: translateX(-200px);transition: all 1s ease 1.5s;}
  #content2>section>span:nth-of-type(3){position: absolute;left: 300px;top: 300px;
  opacity: 0;transform: translateX(-200px);transition: all 1s ease 2s;}
  
  #content2>section.on > h2{opacity: 1;transform: translateX(0);}
  #content2>section.on > span:nth-of-type(1){opacity: 1;transform: translateX(0);}
  #content2>section.on > span:nth-of-type(2){opacity: 1;transform: translateX(0);}
  #content2>section.on > span:nth-of-type(3){opacity: 1;transform: translateX(0);}
  /* content3 */
  /* 양쪽에서 날아오게 */
  #content3>section>h2{position: absolute;left:100px;top: 200px;
    opacity: 0;transform: translateX(-2000px);transition: all 1s ease 0.5s;}
    #content3>section>span:nth-of-type(1){position: absolute;left: 600px;top: 300px;
    opacity: 0;transform: translateX(-2000px);transition: all 1s ease 1.5s;}
    #content3>section>span:nth-of-type(2){position: absolute;right: 100px;top: 400px;
    opacity: 0;transform: translateX(2000px);transition: all 1s ease 0.5s;}
    #content3>section>span:nth-of-type(3){position: absolute;right: 600px;top: 500px;
    opacity: 0;transform: translateX(2000px);transition: all 1s ease 1.5s;}
    
    #content3>section.on > h2{opacity: 1;transform: translateX(0);}
    #content3>section.on > span:nth-of-type(1){opacity: 1;transform: translateX(0);}
    #content3>section.on > span:nth-of-type(2){opacity: 1;transform: translateX(0);}
    #content3>section.on > span:nth-of-type(3){opacity: 1;transform: translateX(0);}
  
  /* content4 */
  /* 위에서 아래로 내려오게 */
  #content4>section>h2{position: absolute;left: 0;top: 100px;
  opacity: 0;transform: translateY(-100px);transition: all 1s ease 0.5s;}
  #content4>section>span:nth-of-type(1){position: absolute;left: 100px;top: 300px;
    opacity: 0;transform: translateY(-100px);transition: all 1.5s ease 0.5s;}
  #content4>section>span:nth-of-type(2){position: absolute;left: 200px;top: 500px;
    opacity: 0;transform: translateY(-100px);transition: all 2.0s ease 0.5s;}
  #content4>section>span:nth-of-type(3){position: absolute;left: 300px;top: 700px;
    opacity: 0;transform: translateY(-100px);transition: all 2.5s ease 0.5s;}
  
  #content4>section.on > h2{opacity: 1;transform: translateY(0);}
  #content4>section.on > span:nth-of-type(1){opacity: 1;transform: translateY(0);}
  #content4>section.on > span:nth-of-type(2){opacity: 1;transform: translateY(0);}
  #content4>section.on > span:nth-of-type(3){opacity: 1;transform: translateY(0);}



