@charset "utf-8";
/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{margin:0;padding:0;}
ol,ul{list-style:none;}
a{text-decoration:none;color:#555;}
body{font-size:12px;line-height:1.6;font-family:arial;color:#555;}

/* logo */
h1{z-index:40;position:fixed;left:50px;top:50px;}
h1 img{width:200px;}

/* sns */
.sns{z-index:40;position:fixed;right:50px;top:40px;}
.sns li{float:left;margin-left:20px;}
.sns li a{display:inline-block;font-size:25px;color:#111;opacity:0.5;
  transition:all 0.5s linear 0s;}
.sns li a:hover{transform:scale(1.5);opacity:1;}

/* gnb */
.gnb{z-index:40;position:fixed;left:0;top:50%;transform:translateY(-50%);}
.gnb li a{display:block;width:200px;height:60px;
  font-family:righteous;font-size:14px;color:#000;opacity:0.8;text-align:right;
  box-sizing:border-box;border-top:1px solid #111;}
.gnb li:hover a,.gnb li.on a{font-size:24px;opacity:1;} 
.gnb li:nth-child(1):hover a,.gnb li:nth-child(1).on a{color:#d4164c;border-color:#d4164c;}
.gnb li:nth-child(2):hover a,.gnb li:nth-child(2).on a{color:#fff;border-color:#fff;}
.gnb li:nth-child(3):hover a,.gnb li:nth-child(3).on a{color:#ffec6a;border-color:#ffec6a;}
.gnb li:nth-child(4):hover a,.gnb li:nth-child(4).on a{color:#005a89;border-color:#005a89;}

/* content */
section{width:100%;
  /*width:100vw;height:100vh;*//*height:700px;*/}
section>div{overflow: hidden;z-index:30;position: relative;width: 100%;height: 100%;}
section:nth-child(1){background:url(../img/bg1.jpg) no-repeat 0 50% fixed;background-size:cover;}
section:nth-child(2){background:url(../img/bg2.jpg) no-repeat 0 50% fixed;background-size:cover;}
section:nth-child(3){background:url(../img/bg3.jpg) no-repeat 0 50% fixed;background-size:cover;}
section:nth-child(4){background:url(../img/bg4.jpg) no-repeat 0 50% fixed;background-size:cover;}

section p{position:absolute;left:300px;top:50%;transform:translateY(-50%);}
section p strong{font-family:righteous;font-size:50px;letter-spacing:2px;line-height:1;}
section p span{font-size:16px;}

section:nth-child(1) strong{color:#d4164c;}
section:nth-child(1) span{color:#111;}

section:nth-child(2) strong{color:#fff;}
section:nth-child(2) span{color:#fff;}

section:nth-child(3) strong{color:#fff;}
section:nth-child(3) span{color:#ffec6a;}

section:nth-child(4) strong{color:#005a89;}
section:nth-child(4) span{color:#111;}

.obj11{position:absolute;right:20px;bottom:20px;}
.obj12{position:absolute;right:130px;bottom:-40px;}
.obj13{position:absolute;right:60px;top:180px;}

.obj21{position:absolute;bottom:-480px;right:-180px;}
.obj22{position:absolute;bottom:-40px;right:130px;}

.obj31{position:absolute;bottom:30px;right:180px;}
.obj32{position:absolute;bottom:-270px;right:110px;}
.obj33{position:absolute;bottom:-130px;right:-70px;}

.obj41{position:absolute;bottom:-120px;right:20px;}
.obj42{position:absolute;bottom:-180px;right:0px;}