/* main */
@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}


/* 스크롤 없음 */
figure{position: relative;width: 100%;height: 100vh;min-height: 600px;background: linear-gradient(25deg,violet,pink);} /*0도는 아래에서 부터 시작*/

figure>h1{position: absolute;left: 4vw;top: 7vh;font-family: arial,sans-serif;color: #fff;font-size: 0;}
figure>h1>strong{font-size: 36px;line-height: 1.4;letter-spacing: 1px;}
figure>h1>span{font-size: 12px;line-height: 1;opacity: 0.8;letter-spacing: 1px;;}

/* 햄버거 버튼 */
figure>.menu{position: absolute;right: 4vw;top: 8vw;font-size: 24px;color: #fff;}

/* copyrights */
figure>.copy{position: absolute;left: 50%;bottom: 7vh;transform: translateX(-50%);font-family: Arial,sans-serif;font-size: 12px;line-height: 1;letter-spacing: 2px;color: #fff;opacity: 0.8;}

/* section */
figure>section{position: absolute;left: 50%;top: 40%/*140%*/;width: 20vw;height: 65vh;margin-left: -10vw;margin-top: -25vh;}

/* article */
figure>section>article{/*display: none;*/position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
/* figure>section>article:first-of-type{display: block;} */

/* inner */
figure>section>article>.inner{width: 100%;height: 100%;background: #f0f7ff;border-radius: 10px;box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
padding: 5vh 2.5vw 8vh;opacity: 0.6;transform: scale(0.8);
display: flex;flex-direction: column;justify-content: space-between;}

/* pic */
figure>section>article>.inner>.pic{position: relative;display: flex;flex-direction: column;justify-content: center;align-items: center;
  /*justify-content: center;align-items: center; 이두개같이 center로 하면 가운데로 위치함*/
  width: 15vw;height: 15vw;border-radius: 50%;border: 1px solid red;
background-repeat: no-repeat;background-position: 0 0;/*background-size: cover;*/}


figure>section>article>.inner>.pic::before,
figure>section>article>.inner>.pic::after{content: "";position: absolute;left: 0;top: 0;
width: inherit;height: inherit;border-radius: inherit;background-image: inherit;background-position: 50% 50%;background-repeat: inherit;background-size: cover;transform-origin: center center;} /*부모 상속inherit*/

/* 그림자 */
figure>section>article>.inner>.pic::before{transform: translateY(10%);filter: blur(20px) brightness(1.6);}


figure>section>article>.inner>.pic>.dot{z-index: 3;position: relative;width: 3vw;height: 3vw;border-radius: 50%;background: #e4f1ff;box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);}
/* inset 안쪽으로 위에서부터 아래로 내려옴 */

/* txt */
figure>section>article>.inner>.txt{text-align: center;}
figure>section>article>.inner>.txt>h2{font-family: arial,sans-serif;font-size: 20px;color: #222;margin-bottom: 2vh;}
figure>section>article>.inner>.txt>p{font-size: 12px;color: #777;margin-bottom: 3vh;}
figure>section>article>.inner>.txt>ul{display: flex;flex-direction: row;justify-content: space-around;}
/* justify-content: space-around; 아이콘을 기준으로 좌우간격 여백이 같음 */
figure>section>article>.inner>.txt>ul>li{opacity: 0.6;cursor: pointer;}

/* btnPrev */
figure>.btnPrev{position: absolute;left: 50%;top: 50%;width: 60px;height: 60px;transform: translate(-20vw, -50%);
display: flex;flex-direction: row;align-items: center;text-align: left; cursor: pointer;} 
/*가운데를 기준으로*/

figure>.btnPrev>span{font-family: Arial,sans-serif;font-size: 11px;line-height: 1;color: #fff;opacity: 1;transform: translateX(30%);transition: all 0.5s ease 0s;}
figure>.btnPrev:hover>span{transform: translateX(100%);opacity: 0;}

/* 막대기 */
figure>.btnPrev::before,
figure>.btnPrev::after{content: "";display: block;width: 100%;height: 1px;background: #fff;position: absolute;left: 0;top: 50%;transform-origin: left center;transition: all 0.5s ease 0s;}

figure>.btnPrev::after{transform: rotate(180deg);}
figure>.btnPrev:hover::after{transform: rotate(30deg);}

figure>.btnPrev::before{transform: rotate(-180deg);}
figure>.btnPrev:hover::before{transform: rotate(-30deg);}

/* ------------------------- */
/* btnNext */
figure>.btnNext{position: absolute;left: 50%;top: 50%;width: 60px;height: 60px;transform: translate(20vw, -50%);
display: flex;flex-direction: row;align-items: center;text-align: right;cursor: pointer;}

figure>.btnNext>span{font-family: Arial,sans-serif;font-size: 11px;line-height: 1;color: #fff;opacity: 1;
transform: translateX(-30%);/*바깥으로 나가는것*/
transition: all 0.5s ease 0s;}

figure>.btnNext:hover>span{transform: translateX(-100%);opacity: 0;}

/* 막대기 */
figure>.btnNext::before,
figure>.btnNext::after{content: "";display: block;width: 100%;height: 1px;background: #fff;position: absolute;left: 0;top: 50%;transform-origin: right center;transition: all 0.5s ease 0s;}

figure>.btnNext::after{transform: rotate(180deg);}
figure>.btnNext:hover::after{transform: rotate(30deg);}

figure>.btnNext::before{transform: rotate(-180deg);}
figure>.btnNext:hover::before{transform: rotate(-30deg);}


/* article */















